@import 'vars.less';

body{
  background: @preto url('../img/madeira-topoebase.png') left top repeat-x;
  position: relative;
  &:after{
    content: "";
    background: url('../img/madeira-topoebase.png') left top repeat-x;
    position: absolute;
    height: 14px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .centralizar{
    padding:14px 0;
  }
  header{
    background: url('../img/titulo-italia-gastronomica-internas.png') center 5px no-repeat;
    padding-top: 181px;
    position: relative;
    @media @small{
      padding-top: 115px;
      background-size: 100% auto;
    }
    @media @medium{
      background-size: 100% auto;
    }
    #midias-sociais{
      position: absolute;
      font-size: 0;
      @media @large{
        top: 154px;
        right: 90px;
      }
      @media @medium{
        top: 135px;
        right: 42px;
      }
      @media @small{
        top: 79px;
        right: 12px
      }
      a{
        .inline;
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: relative;
        margin: 0 4px;
        &:after{
          content: "";
          display: block;
          transition: all .3s ease-in;
          width: 20px;
          height: 20px;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }
        &.link-facebook:after{background: url('../img/ico-facebook.png') center -20px no-repeat;}
        &.link-instagram:after{background: url('../img/ico-instagram.png') center -20px no-repeat;}
        &:hover:after{
          opacity: 1;
        }
      }
    }
    &.header-home{
      background: url('../img/imgs-topo.png') center 5px no-repeat;
      padding-top: 153px;
      #midias-sociais{
        @media @large{
          top: 86px;
          right: 190px;
        }
        @media @medium{
          top: 65px;
          right: 124px;
        }
        @media @small{
          top: 39px;
          right: 62px;
        }
      }
      @media @small{
        padding-top: 73px;
        background-size: 100% auto;
      }
      @media @medium{
        background-size: 100% auto;
      }
    }
    #imagem-titulo{
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    nav{
      width: 909px;
      height: 73px;
      background: url('../img/menu-base-home.png') center top no-repeat;
      display: block;
      margin: 0 auto;
      @media @small{
        background: @preto;
        max-width: 100%;
        background-size: 100% auto;
      }
      @media @medium{
        max-width: 100%;
        background-size: 100% auto;
      }
      ul{
        padding: 0;
        list-style: none;
        height: 73px;
        width: 90%;
        display: block;
        margin: 0 auto;
        font-size: 0;
        @media @small{
          text-align: center;
          height: 33px;
        }
        li{
          .inline;
          width: 20%;
          height: 73px;
          @media @small{
            height: 33px;
            width: 33%;
          }
          a{
            text-align: center;
            display: block;
            line-height: 63px;
            .oswald(22px, 700);
            color: @preto;
            &:active, &:visited{color: @preto;}
            @media @small{
              line-height: 33px;
              font-size: 14px;
              color: #fefefe;
              &:active, &:visited{color: #fefefe;}
            }
            @media @medium{
              line-height: 53px;
              font-size: 18px;
            }
            transition: color .3s ease-in;

            &:hover, &.ativo{color: @vermelho;}
          }
        }
      }
    }
  }
  footer{
    #imagem-footer{
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    p{
      margin: 5px 0;
      padding: 0;
      line-height: 100%;
      color: #fff;
      .opensans(7px);
    }
  }
  section{
    overflow-x: hidden;

    p{
      display: block;
      margin: 0 auto;
      color: #fff;
      line-height: 140%;
      .opensans(20px);
      @media @small{
        padding: 0 5px;
      }
      strong{
        font-weight: bold;
      }
      a{
        font-weight: bold;
        color: #fff;
        transition: color .3s ease-in;
        &:active, &:visited{color: #fff;}
        &:hover{
          text-decoration: underline;
        }
      }
    }
    #link-participar{
      display: block;
      width: 157px;
      height: 46px;
      line-height: 43px;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
      transition: color .3s ease-in;
      .oswald(16px, bold);
      background: url('../img/botao-enviar.png') center center no-repeat;
      &:hover{
        color: @vermelho;
      }
    }
    &.section-regulamento{
      padding: 30px 0;
      h1{
        .opensans(20px);
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
      }
      p{
        .opensans(12px);
        line-height: 145%;
        max-width: 700px;
        margin-bottom: 15px;
      }
    }
    &.section-participe{
      #passo-a-passo{
        font-size: 0;
        .passo{
          .inline;
          @media @small{
            display: block;
            margin: 4px auto 40px auto;
          }
          width: 33%;
          .imagem{
            margin-bottom: 5px;
            img{
              display: block;
              margin: 0 auto;
              max-width: 100%;
            }
          }
          .texto{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            width: 175px;
            padding-left: 45px;
            color: #fff;
            line-height: 160%;
            padding-top: 5px;
            .opensans(14px, 400);
            small{
              font-size: 12px;
            }
          }
          &.passo-1 .texto{ background:url('../img/n1.png') left 5px no-repeat; }
          &.passo-2 .texto{ background:url('../img/n2.png') left 5px no-repeat; }
          &.passo-3 .texto{ background:url('../img/n3.png') left 5px no-repeat; }
        }
      }
      .cadastro-realizado{
        margin: 50px 0;
        text-align: center;
        width: 100%;
        img{
          display: block;
          margin: 0 auto 10px auto;
        }
        strong{
          font-weight: bold;
        }
      }
      form{
        .fundo{
          width: 647px;
          max-width: 100%;
          margin: 0 auto;
          box-sizing: border-box;
          padding: 0 65px;
          font-size: 0;
          background: url('../img/base-formulario-centro.png') center top repeat-y;
          @media @small{
            padding: 15px;
          }
          &:before{
            transform: translateX(-65px);
            width: 647px;
            height: 32px;
            content: "";
            display: block;
            background: @preto url('../img/base-formulario-topo.png') center top no-repeat;
            @media @small{
              display: none;
            }
          }
          &:after{
            transform: translateX(-65px);
            width: 647px;
            height: 32px;
            content: "";
            display: block;
            background: @preto url('../img/base-formulario-rodape.png') center top no-repeat;
            @media @small{
              display: none;
            }
          }
          .retorno-erro{
            border: 1px @vermelho solid;
            text-align: center;
            padding: 10px;
            color: @preto;
            .opensans(14px);
            margin: 10px 0;
            line-height: 140%;
          }
          label.vermelho{
            display: block;
            span{
              .inline;
              background: @vermelho;
              color: #fff;
              padding: 2px 5px;
              .opensans(10px);
            }
          }
          .questao{
            padding: 3px 0;
            .opensans(18px, bold);
            color:@preto;
          }
          .opcoes{
            padding-top: 6px;
            margin-bottom: 20px;
            text-align: center;
            label{
              .inline;
              width: 130px;
              color:@preto;
              .opensans(15px);
            }
          }
          #input-sexo{
            color: @preto;
            .opensans(12px);
            .inline;
            margin: 2px 0;
            label{
              margin-left: 4px;
              input{
                vertical-align: -2px;
              }
            }
          }
          label.aviso-vermelho{
            padding: 6px 5px;
            margin: 8px 7px 2px 0;
            .inline;
            text-align: center;
            color: #fff;
            background: @vermelho;
            .opensans(10px, bold);
            line-height: 120%;
            box-sizing: border-box;
            width: 170px;
            @media @small{
              display: block;
              margin: 8px auto 2px auto;
            }
          }
          .lembrete-embalagem{
            text-align: center;
            .opensans(10px);
            color:@preto;
            line-height: 120%;
            margin-top: 15px;
            strong{color:@vermelho;}
          }
          .codigos{
            .inline;
            margin: 8px 7px 2px 0;
            label{
              display: block;
              width: 100%;
              margin-bottom: 3px;
              span{
                .inline;
                background: @vermelho;
                color: #fff;
                padding: 4px 5px;
                .opensans(10px, bold);
                min-width: 64px;
              }
              input{
                width: 254px;
                @media @small{
                  width: 326px
                }

                margin-left: 3px;
                border: 1px @cinza solid;
                height: 18px;
                line-height: 18px;
                box-sizing: border-box;
                padding: 1px 4px;
                .opensans(12px);
                .placeholder(@cinza);
                color: @preto;
              }
            }
          }
          #btn-adicionar-produto{
            float: right;
            .opensans(10px, bold);
            margin: 3px 0 10px 0;
            padding: 6px 5px;
            box-sizing: border-box;
            text-align: right;
            border: 1px @cinza solid;
            margin-right: 9px;
            transition: all .3s ease-in;
            span{
              font-size: 15px;
              font-weight: bold;
              color: @vermelho;
              vertical-align: -1px;
            }
            &:hover{
              background-color: @vermelho;
              color: #fff;
            }
          }
          & > label{
            margin: 2px 7px 2px 0;
            .inline;
            .opensans(12px);
            input{
              margin-left: 3px;
              border: 1px @cinza solid;
              height: 18px;
              line-height: 18px;
              box-sizing: border-box;
              padding: 1px 4px;
              .opensans(12px);
              .placeholder(@cinza);
              color: @preto;
            }
            small{
              font-size: 7px;
              line-height: 115%;
              .inline;
            }
            &#input-nome input{width: 280px;}
            &#input-cpf input{width: 153px;}
            &#input-cep input{width: 70px;}
            &#input-endereco input{width: 336px;}
            &#input-numero input{width: 78px;}
            &#input-complemento input{width: 120px;}
            &#input-bairro input{width: 132px;}
            &#input-complemento input{width: 306px;}
            &#input-cidade input{width: 94px;}
            &#input-estado input{width: 119px;}
            &#input-telefone input{width: 156px;}
            &#input-email input{width: 102px;}
            &#input-data-nascimento input{width: 120px;}
            &#input-estabelecimento{
              margin-left: 20px;
              input{width: 258px;}
            }
            &#input-cupom-fiscal input{width: 419px;}
            &#input-aceite{
              display: block;
              clear: right;
              a{
                color:@vermelho;
                font-weight: bold;
                &:hover{
                  text-decoration: underline;
                }
              }
              input{
                vertical-align: -5px;
              }
            }

            @media @small{
              &#input-nome input{width: 361px;}
              &#input-cep input{width: 188px;}
              &#input-numero input{width: 74px;}
              &#input-cidade input{width: 135px;}
              &#input-endereco input{width: 234px;}
              &#input-complemento input{width: 306px;}
              &#input-bairro input{width: 353px;}
              &#input-estado input{width: 160px;}
              &#input-email input{width: 202px;}
              &#input-telefone input{width: 127px;}
              &#input-estabelecimento{
                margin-left: 0;
                input{width: 264px;}
              }
              &#input-cupom-fiscal input{width: 311px;}
            }

            @media @medium{
              &#input-estabelecimento{
                margin-left: 20px;
                input{width: 257px;}
              }
              &#input-cupom-fiscal input{width: 418px;}
            }

          }

        }
        input[type="submit"]{
          display: block;
          width: 157px;
          height: 46px;
          line-height: 43px;
          margin: 0 auto;
          margin-top: 20px;
          text-align: center;
          transition: color .3s ease-in;
          .oswald(16px, bold);
          cursor:pointer;
          background: url('../img/botao-enviar.png') center center no-repeat;
          &:hover{
            color: @vermelho;
          }
        }
      }
    }
    &.section-produtos{
      position: relative;
      #link-catalogo-completo{
        position: absolute;
        top: 0;
        right: 0;
        @media @small{
          top: auto;
          right: auto;
          position: relative;
          display: block;
          margin: 0 auto;
          text-align: center;
          width: 200px;
        }
        @media @medium{
          top: auto;
          right: auto;
          position: relative;
          display: block;
          margin: 0 auto;
          text-align: center;
          width: 200px;
        }
      }
      .lista-produtos{
        clear: right;
        max-width: 890px;
        margin: 0 auto;
        ul{
          padding: 0;
          li{
            display:block;
            font-size: 0;
            padding: 30px 0;
            &:after{
              content: "";
              width: 100%;
              height: 20px;
              display: block;
              margin-top: 20px;
              background: url('../img/separador.png') center center no-repeat;
            }
            &:last-child:after{
              display: none;
            }
            .imagem{
              .inline;
              width: 33%;
              img{
                display: block;
                max-width: 90%;
                margin: 0 auto;
              }
            }
            .texto{
              .inline;
              width: 67%;
              padding-left: 10px;
              box-sizing: border-box;
              .titulo{
                .opensans(20px, bold);
                color:#fff;
                margin-bottom: 3px;
              }
              table{
                margin-top: 10px;
                tr{
                  td{
                    padding: 4px 0;
                    &:first-child{
                      min-width: 80px;
                    }
                    .opensans(14px);
                    color:#fff;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.section-premio{
      .detalhe-premio{
        background: url('../img/moldura-premio.png') center center no-repeat;
        margin: 0 auto;
        width: 757px;
        height: 346px;
        box-sizing: border-box;
        padding-top: 80px;
        p{
          text-align: center;
          width: 490px;
          max-width: 100%;
        }
        @media @small{
          width: 100%;
          height: auto;
          background: none;
        }
      }
    }
    &.section-receitas{
      .lista-receitas{
        padding: 20px 0;
        ul{
          font-size: 0;
          li{
            .inline;
            width: 25%;
            a{
              display: block;
              text-align: center;
              color:#fff;
              line-height: 130%;
              transition: all .3s ease-in;
              max-width: 80%;
              margin: 0 auto;
              .opensans(16px);
              &:active, &:visited{color:#fff;}
              &:hover{
                color: @vermelho;
              }
              img{
                display: block;
                margin: 0 auto 2px auto;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
    .chamada{
      margin: 20px 0 30px 0;
      text-align: center;
      p{
        max-width: 80%;
      }
    }
  }
  .fancybox-inner{
    .regulamento{
      h1{
        .opensans(24px, bold);
        color: @preto;
        text-align: center;
        margin-bottom: 10px;
      }
      p{
        .opensans(12px);
        line-height: 145%;
        max-width: 700px;
        margin-bottom: 7px;
      }
    }
    .section-receitas{
      .detalhes{
        font-size: 0;
        h1{
          text-align: center;
          .opensans(25px, bold);
          line-height: 140%;
          margin: 15px 0;
          color: @vermelho;
        }
        .imagem{
          width: 45%;
          .inline;
          img{
            max-width: 100%;
            display: block;
            margin:0 auto 5px auto;
          }
        }
        .texto{
          width: 55%;
          box-sizing: border-box;
          padding-left: 15px;
          .inline;
          h2{
            color:@preto;
            .opensans(16px, bold);
            margin-bottom: 5px;
          }
          p{
            color:@preto;
            .opensans(14px);
            margin-bottom: 10px;
          }
          .ingredientes{}
          .preparo{
            margin-top: 20px;
            border-bottom: 1px @vermelho solid;
            padding-bottom: 15px;
            margin-bottom: 15px;
            max-width: 90%;
          }
          #link-imprimir{
            .inline;
            margin-top: 10px;
            @media print{
              display: none;
            }
          }
        }
      }
    }
  }
}
