@small	: ~"(min-width: 0px) and (max-width: 750px)";
@medium : ~"(min-width: 751px) and (max-width: 1023px)";
@large  : ~"(min-width: 1024px)";

@preto: #231F20;
@vermelho: #EA232A;
@cinza: #BBBBBB;

.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.opensans(@fsize:12px, @fweight:normal){
	font-family: 'Open Sans', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.oswald(@fsize:12px, @fweight:normal){
	font-family: 'Oswald', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.centralizar{
  width: 100%;
  margin: 0 auto;
  @media @small{
    max-width: 440px;
  }
  @media @medium{
    max-width: 750px;
  }
  @media @large{
    max-width: 1024px;
  }
}

.centralizar-reduzido{
  width: 100%;
  margin: 0 auto;
  @media @small{
    max-width: 240px;
  }
  @media @medium{
    max-width: 550px;
  }
  @media @large{
    max-width: 824px;
  }
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}

body + object {display: none;}
